# PostgreSQL Database Settings
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=smartsim
POSTGRES_PORT=5432

# Backend JWT Settings
JWT_SECRET=supersecretkeychangeinproduction1234567890!
